@charset "UTF-8";
/* CSS Document */
/* font */
html {
  font-size: 62.5%;
}
body {
  font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333;
  background-color: #f6f8f9;
  text-align: center;
  box-sizing: border-box;
}
body h1 {
  font-size: 1.6rem;
  margin-bottom: 12px;
}
body h2 {
  font-size: 2.4rem;
  margin-bottom: 40px;
}
@media (min-width: 1040px) {
  body h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  body h2 {
    font-size: 4.0rem;
    margin-bottom: 40px;
  }
}
/* お試しセットを購入 */
.buy-button a {
  display: inline-block;
  width: 220px;
  height: 60px;
  border-radius: 30px;
  background-color: #8a7b79;
  color: #fff;
  text-decoration: none;
  font-family: YuGothic, "Yu Gothic medium";
}
.buy-button a p {
  display: inline-block;
  line-height: 60px;
  font-size: 1.6rem;
}
@media (min-width: 1040px) {
  .buy-button a {
    width: 300px;
    height: 80px;
    border-radius: 40px;
  }
  .buy-button a p {
    line-height: 80px;
    font-size: 2.4rem;
  }
}
/* return to top */
#scroll-top {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  background-color: #eee;
  opacity: 0.6;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-sizing: border-box;
  border: solid 1px #8a7b79;
  cursor: pointer;
}
#scroll-top img {
  height: 14px;
}
